* {
  padding: 0;
  margin: 0;
}
html,
body {
  overflow-x: hidden;
}
:root {
  --background-color: #6b21a8;
  --font-color: #f3e8ff;
  --hr-color: #d8b4fe;
}
body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-style: oblique;
}
.heading {
  font-weight: 900;
}
hr {
  background-color: var(--hr-color);
}
.card-image {
  margin-left: 3rem;
  height: 150px;
  width: 200px;
}
.card {
  color: #083344;
}
